<div class="widget">
<li>
      <a class="archive-article-title" href="/2017/01/25/cf385/">Codeforces Round 385 (Div. 2)</a>
</li>
<%- partial('_partial/list', {pagination: config.category, index: true}) %>
<!-- <%- partial('_partial/archive', {pagination: config.category, index: true}) %> -->
</div>
